c
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/assets/img/burger.jpg" alt="burger">
        </div>
    </div>
    <h3>Eat-Da-Burger!</h3>
    <div class="row" id="burger-section">
        {{!-- items --}}
    </div>
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <textarea class="form-control" id="burger-name" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                <h6>Enter a burger you want to eat. Click the "Submit" button. Hey</h6>
            </form>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" id="clear">Clear List</button>
</div>