c
<div class="container">
    <div class="row">
        <div class="col" id="image">
            <img src="/assets/img/head-shot.png" alt="burger">
        </div>
    </div>
    <h3>To Do List</h3>
    <div id="clear-button-container">
    <button type="submit" class="btn btn-primary" id="clear">Clear List</button>
    </div>
    <div class="row" id="burger-section">
        {{!-- items --}}
    </div>
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <textarea class="form-control" id="burger-name" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                <h6>Enter your to-do item in the text box and press "Submit"</h6>
            </form>
        </div>
    </div>
</div>