.btn {
    background-color: green;
    margin: 2 rem;
}

.hidden {
    display: none;
}

.visible {
    display: none;
}

img {
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
    align-self: center
}

#image, h3, .col-sm-4 {
    text-align: center;
}

button {
    margin: 0px 5px 0px 5px
}

.row {
    margin: 3rem;
    text-align: center;
}

#clear-button-container{
    text-align: center;
}

pre{
    visibility: hidden;
}